.hidden {
    display: none;
}

nav { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.view-scores, .timer {
    margin: 20px 3%;
    text-decoration: none;
    color: #B753E4;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.timer {
    color: black;
}

.title, .question-title {
    text-align: center;
    margin-top: 50px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.question-title {
    text-align: left;
}

main {
    max-width: 100%;
}

main p {
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.btnStart {
    left: 46%;
    position: absolute;
    background-color: #351C75;
    border: 2px solid #351C75;
    border-radius: 10px;
    padding: 10px 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

/* Quiz */

.answers {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btnQuiz {
    display: inline-block;
    left: 46%;
    background-color: #351C75;
    border: 2px solid #351C75;
    border-radius: 10px;
    padding: 10px 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    width: 200px;
}

.choice-container {
    display: flex;
    align-items: center;
    margin-bottom: 0.8rem;
    width: 200px;
    height: 38px;
    border-radius: 4px;
    background-color: #351C75;
    font-size: 1.5rem;
}

.choice-container:hover, .btnStart:hover {
    background-color: #B753E4;
    border-color: #B753E4;
    cursor: pointer;
}

.choice-prefix, .choice-container {
    color: white;
    text-align: center;
    padding: 0.2rem 0.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}

.choices {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    width: 200px;
    margin: 0;
}

.btn {
    display: inline-block;
    text-align: left;
    left: 46%;
    background-color: #351C75;
    border: 2px solid #351C75;
    border-radius: 10px;
    padding: 10px 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    width: 250px;
    margin: 5px 0;
}

.btn:hover {
    background-color: #B753E4;
    border-color: #B753E4;
    cursor: pointer;
}

.question-container {
    justify-content: center;
    text-align: left;
    margin-left: 25%;
    margin-right: 25%;
}

.result {
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-style: italic;
}

.done, .final-score, .quiz {
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}